body {
  background-color: $color-secundario;
  background-image: url('../assets/img/fondo.png');
  background-size: cover;
  font-family: $font-karma;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #f5f5f5;
}

h1 {
  @include section-title;
}

h2, h3 {
  font-family: $font-libre-franklin;
  color: $color-acentos;
  @include center-text;
  margin-top: 40px;
  font-weight: 400;
}

.logo-navbar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  @include border-radius(50%);
}

.w-fit-content {
  width: fit-content;
}

.imagenesindex {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.title-border {
  background-color: #343a40;
  @include border-radius(25px);
  padding: 15px;
  display: inline-block;

  h2 {
    color: white;
    margin: 0;
  }
}

nav.navbar {
  background-color: $color-principal;
}

.nav-animado {
  @extend .animate__animated !optional;
  @extend .animate__backInDown !optional;
}

.carousel-inner {
  height: 600px;

  .carousel-item {
    height: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}


