// Colores
$color-principal: #45618c;
$color-secundario: #474e59;
$color-fondo: #1f2c40;
$color-acentos: #6f7b8c;
$color-destacado: #6a96d9;

// Tipografías
$font-arvo: 'Arvo', serif;
$font-libre-franklin: 'Libre Franklin', sans-serif;
$font-karma: 'Karma', serif;

// Otros
$border-radius-default: 10px;
